@import "materialize.scss";

section {
    h1 {
        padding-top: 0;
        margin-top: 0;
    }
    &#welcome {
        background-image: url('../img/splash.jpg');
        background-size: cover;
    }
    min-height: 70vh;
}

section#board {
    h3 {
        padding: 20px;
        margin-top: 0;
        color: white;
    }
    // color: white;
    background-color: #e57373;
}

h6 {
    font-weight: bold;
}

.row {
    margin-bottom: 0;
}
footer.page-footer {
    margin-top: 0;
}